<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="embedded-copilot.commands.category"
            name="Cline">
      </category>
      <command
            categoryId="embedded-copilot.commands.category"
            name="Open Cline"
            id="embedded-copilot.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="embeddedcopilot.handlers.SampleHandler"
            commandId="embedded-copilot.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="embedded-copilot.commands.sampleCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="embedded-copilot.menus.sampleMenu"
               label="Cline"
               mnemonic="C">
            <command
                  commandId="embedded-copilot.commands.sampleCommand"
                  id="embedded-copilot.menus.sampleCommand"
                  mnemonic="O">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:window?after=additions">
         <command
               commandId="embedded-copilot.commands.sampleCommand"
               id="embedded-copilot.menus.windowCommand"
               label="Open Cline"
               mnemonic="L">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:help?after=additions">
         <command
               commandId="embedded-copilot.commands.sampleCommand"
               id="embedded-copilot.menus.helpCommand"
               label="Open Cline"
               mnemonic="C">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="embedded-copilot.toolbars.clineToolbar">
            <command
                  id="embedded-copilot.toolbars.clineCommand"
                  commandId="embedded-copilot.commands.sampleCommand"
                  icon="icons/sample.png"
                  tooltip="Open Cline"
                  style="push">
               <visibleWhen checkEnabled="false">
                  <with variable="activeWorkbenchWindow">
                     <test property="org.eclipse.ui.isWindowActive" />
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:embedded-copilot.toolbars.clineToolbar?endof=embedded-copilot.toolbars.clineToolbar">
         <command
               commandId="embedded-copilot.commands.sampleCommand"
               icon="icons/sample.png"
               tooltip="Open Cline"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="embedded-copilot.actionSet"
            label="Cline"
            visible="true">
         <action
               class="embeddedcopilot.handlers.SampleHandler"
               icon="icons/sample.png"
               id="embedded-copilot.actions.openCline"
               label="Open Cline"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Open Cline">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="embedded-copilot"
            name="Cline">
      </category>
      <view
            category="embedded-copilot"
            class="embeddedcopilot.views.SampleView"
            icon="icons/sample.png"
            id="embeddedcopilot.views.SampleView"
            inject="true"
            name="Cline">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="embeddedcopilot.views.SampleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
