<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="embedded-copilot.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="embedded-copilot.commands.category"
            name="Sample Command"
            id="embedded-copilot.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="embeddedcopilot.handlers.SampleHandler"
            commandId="embedded-copilot.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="embedded-copilot.commands.sampleCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="embedded-copilot.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="embedded-copilot.commands.sampleCommand"
                  id="embedded-copilot.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="embedded-copilot.toolbars.sampleToolbar">
            <command
                  id="embedded-copilot.toolbars.sampleCommand"
                  commandId="embedded-copilot.commands.sampleCommand"
                  icon="icons/sample.png"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="embedded-copilot"
            name="Sample Category">
      </category>
      <view
            category="embedded-copilot"
            class="embeddedcopilot.views.SampleView"
            icon="icons/sample.png"
            id="embeddedcopilot.views.SampleView"
            inject="true"
            name="Sample View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="embeddedcopilot.views.SampleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
